body {
  box-sizing: border-box;
}

.big {
  border: 10px solid pink;
  display: inline-block;
}

.big > div {
  height: 200px;
  width: 200px;
  background-color: greenyellow;
}
.a {
  margin-left: 640px;
}

.b {
  margin-left: 420px;
}

.c {
  margin-left: 220px;
}

.k:nth-child(even) {
  border: 10px solid gray;
}

/* Task - 2 */
*{
    padding: 0;
}
.big2 {
  width: 600px;
   
}

.big2 > div {
 background-color: red;
 display: inline-block;
}

.k2 {
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 5px solid tomato;
    display: inline-block;
}
 
.iki {
   
    padding-left: 205px;
}

.üc {
   
    padding-left: 410px;
}

.dört {
    
    padding-left: 620px;
}
